#header {
        grid-area: header;
        background-color: red;
        
}    

#article1 {
    grid-area: article1;
    background-color: yellow;
}

#article2 {
    grid-area: article2;
    background-color: green;
}

#footer {
    grid-area: footer;
    background-color: purple;
}

#nav {
    grid-area: nav;
    background-color: orange;
}

#ad {
    grid-area: ad;
    background-color: blue;
}

#page {
    display: grid;
    align-content: stretch;
    grid-template-columns: 200px 250px 350px 350px;
    grid-template-rows: 150px 250px 250px 100px 50px;
    grid-template-areas: 
    "header header header header header"
    "nav article1 article1 ad ad"
    "nav article2 article2 ad ad"
    "footer footer footer footer footer"
    ;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

